<html>
    <head>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
        <title>SERVADMIN</title>
    </head>
    <body>
        <div id="kalkulator" class="center">
            <p>Terraria Server Status:</p>
            <div id="wyswietlacz" class="center">
                <input class="wyswietlacz" type="text" value={{calc}} disabled>
            </div>
            <div id="klawiatura" class="center">
                <div class="top">
                    <div class="przycisk">
                        <form action="/(" method="post">
                            <button type="submit" class="przycisk" onclick="">START</button>
                        </form>
                    </div>
                    <div class="przycisk">
                        <form action="/)" method="post">
                            <button type="submit" class="przycisk" onclick="">STOP</button>
                        </form>
                    </div>
		    <div class="przycisk">
			<form action="/" method="post">
                            <button type="submit" class="przycisk" onclick="">STATUS</button>
                        </form>
 		    </div>
                </div>

            </div>
        </div>

    </body>
</html>
